body{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div{
    margin-bottom: 20px;
}

.menu{
    padding:5px;
    border-radius: 20px;
    color:black;
    border-style: solid;
    background-color: white;
}
